/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

@font-face {
  font-family: newTelegraph;
  src: url("/fonts/new_telegraph/New Telegraph.ttf");
}

@font-face {
  font-family: newTelegraphBold;
  src: url("/fonts/new_telegraph/New Telegraph Bold.ttf");
}

:root {
  --background-hue: 0;
  
  --background-sat: 20%;
  --background-lig: 70%;

  --background-home: hsl(0, var(--background-sat), var(--background-lig));
  --background-works: hsl(75, var(--background-sat), var(--background-lig));
  --background-teaching: hsl(150, var(--background-sat), var(--background-lig));
  --background-about: hsl(225, var(--background-sat), var(--background-lig));
  --background-contact:hsl( 300, var(--background-sat), var(--background-lig));


}

*, *::before, *::after {
  box-sizing: border-box;

  
}
* {
  margin: 0;
  padding: 0;
  z-index: 1;
}



html, body {
  height: 100%;
  
  font-family: newTelegraphBold;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}